.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  


.container {
    position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
    top: 10;
    left: 0;
    width: 60%;
    height: 70%;
    background-color: #25242f;
    z-index: 999;

    box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

  }

.inputsDatas{
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;

}

.containerTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: start;

    padding: 32px 32px 0 32px;
}

.title{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 160%;

text-align: center;


color: #FFFFFF;
}


.finishedSalesContainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
    background: #67647c ;
    padding: 60px;
    width: 100%;
    justify-content: center;


    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 160%;

text-align: center;
    color: #FFFFFF;

    box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
}

.monthGoalContainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
    background: #67647c ;
    padding: 60px;
    width: 100%;
    justify-content: center;


    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 160%;

text-align: center;
    color: #FFFFFF;

    box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
}

.buttonOverLay{
    background-color: #1b7361;

    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 160%;

text-align: center;
    color: #FFFFFF;
}

.buttonOverLay:hover{
    background: #145749 ;
}


input{
    border-radius: 10px;
    border: none;
    padding: 10px;

    box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
}
  
@media only screen and (max-width: 900px) {
.overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

    .container {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 1100px;
    }

.containerTitle{
    width: 100vw;
    margin-top: 150px;
}

.title{
    font-size: 24px;
}

    .finishedSalesContainer{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
    }

    .monthGoalContainer{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
    }
}
  