.container {
    
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 59px;

    margin-top: 50px;
}

.indicatorsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;

    /* padding-top: 260px; */

}

